body {
	width: 800px;
	margin: 0 auto;
}

table, th, tr, td {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 3px 5px;
}

th {
	text-align: center;
}

tr:hover {
	background-color: beige;
}